@font-face {
    font-family: 'Myriad Pro';
    src: url('../src/fonts/MyriadPro-Regular.eot');
    src: url('../src/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../src/fonts/MyriadPro-Regular.woff') format('woff'),
        url('../src/fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../src/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../src/fonts/Oswald-Regular.eot');
    src: url('../src/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Oswald-Regular.woff2') format('woff2'),
        url('../src/fonts/Oswald-Regular.woff') format('woff'),
        url('../src/fonts/Oswald-Regular.ttf') format('truetype'),
        url('../src/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Oswald';
    src: url('../src/fonts/Oswald-Bold.eot');
    src: url('../src/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Oswald-Bold.woff2') format('woff2'),
        url('../src/fonts/Oswald-Bold.woff') format('woff'),
        url('../src/fonts/Oswald-Bold.ttf') format('truetype'),
        url('../src/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/fonts/ProximaNova-Regular.eot');
    src: url('../src/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../src/fonts/ProximaNova-Regular.woff') format('woff'),
        url('../src/fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../src/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/fonts/ProximaNova-Semibold.eot');
    src: url('../src/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../src/fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../src/fonts/ProximaNova-Semibold.ttf') format('truetype'),
        url('../src/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;  
}

@font-face {
    font-family: 'Roboto';
    src: url('../src/fonts/Roboto-Regular.eot');
    src: url('../src/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../src/fonts/Roboto-Regular.woff') format('woff'),
        url('../src/fonts/Roboto-Regular.ttf') format('truetype'),
        url('../src/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
